

/*  CSS 重置  */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====================== 全局样式 ====================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem;
}


#main-content {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

/*   header 头部    */

nav {
  width: 100%;
  height: 8rem;
  background-color:#252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding: 2rem 0 1rem 0;
}

nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1rem;
}

/* 餐厅详情页面 头部 #breadcrumb */

#breadcrumb {
  display: flex;
  padding: 1rem 4rem 1.6rem;
  list-style: none;
  background-color: #eee;
  font-size: 1.7rem;
  margin: 0;
  /*width: calc(50% - 8rem);*/
  width: 50%;
}

#breadcrumb li {
  display: inline-block;
}

#breadcrumb li+li:before {
  padding: 1rem;
  color: black;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #0275d8;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/*   地图 #map   */

#map {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}

/* ====================== 选择表单 ====================== */

.filter-options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: #3397DB;
}



.filter-options h2 {
  color: white;
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 2rem 0 2rem;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  height: 3.5rem;
  letter-spacing: 0;
  margin: 1rem;
  padding: 0 10px;
  width: 20rem;
}

/* ====================== 餐馆列表 ====================== */

#restaurants-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1rem;
  grid-gap: 1rem;
  justify-items: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

#restaurants-list li {
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: Arial,sans-serif;
  min-height: 380px;
  text-align: center;
  padding: 1rem 2rem;
}



#restaurants-list .restaurant-img {
  display: block;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  margin: 0;
}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: capitalize;
}


#restaurants-list p {
  margin: 0;
  font-size: 1.3rem;
}

#restaurants-list li a {
  display: inline-block;
  color: #fff;
  padding: 0.8rem 3rem 1rem;
  margin: 1.5rem 0 0;
  background-color: orange;
  border: 3px solid #eee;
  text-transform: uppercase;
}

/*  餐厅详情页面 */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  height: 87%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  position: absolute;
  bottom: 0;
  width: 50%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 14rem 1% 3rem 1%;
  width: 48%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 2.8rem;
}

#restaurant-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}


#restaurant-address {
  font-size: 1.2rem;
  margin: 1rem 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem;
  margin: 0 0 2rem;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table td {
  color: #666;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
}

table tr:nth-child(2n+1) {
  background-color: white;
}

#reviews-container {
  padding: 3rem 4rem 8rem;
}


#reviews-container h2,
#restaurant-container h2{
  color: #f58500;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1rem;
}

#reviews-list {
  margin: 0;
  padding: 0;
}


#reviews-list li  {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li .name {
  font-size: 2rem;
  margin: 0;
}


#reviews-list li .rating {
  clear: both;
  display: inline-block;
  padding: 2px 5px;
  background-color: orange;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
